.vscode/**
node_modules/**
out/**
src/**
webview-src/**
.gitignore
.eslintrc.json
esbuild.js
tsconfig*.json
**/*.map
testdocs/**
SKILL.md
media/gsconsult-logo.png
media/gsconsulting-logo_simple.png
media/icon_simple.png
